.idea/
*.iml
*.iws
*.ipr
.mvn
.gradle
target
build
out
.idea
.vscode
.DS_Store
.classpath
.factorypath
.settings
.springBeans
.flattened-pom.xml
.gradletasknamecache
.git-hooks/
node_modules
application.properties
application.yml