
.mvn
.gradle
target
build
out
.idea
.vscode
*.iml
*.ipr
*.iws
.DS_Store
.classpath
.factorypath
.settings
.springBeans
.flattened-pom.xml
.gradletasknamecache
.git-hooks/
node_modules
application.properties
application.yml